#teacher-list-container {
    width: 100vw;
    height: 100vh;
}

#search-teachers-container {
    margin-top: 3.2rem;
}
#search-teachers-container label {
    color: var(--color-text-in-primary);
}

#teacher-list-container main {
    margin: 3.2rem auto;
    width: 90%;
}

@media(min-width: 700px) {
    #teacher-list-container {
        max-width: 100%;
    }

    #search-teachers-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1.6rem;
        position: absolute;
        bottom: -2.8rem;
    }
    
    #search-teachers-container .input-container + .input-container,
    #search-teachers-container .select-container + .select-container {
        margin-top: 0;
    }

    #teacher-list-container main {
        padding: 3.2rem 0;
        max-width: 74rem;
        margin: 0 auto;
    }
}